<footer class="footer">
  <div class="container">

    <div class="footer-top section">

      <div class="footer-brand">

        <a href="#" class="logo">
          <img src="./assets/images/logo-karus.png" width="209" height="52" alt="dprod logo">
        </a>

        <a href="mailto:contact@karus.io" class="footer-link">contact@karus.io</a>

        <a href="tel:+0987654321" class="footer-link">+33 6 23 29 78 18</a>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-dribbble"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Liens utiles</p>
        </li>

        <li>
          <a href="#" class="footer-link">Mode de travail</a>
        </li>

        <li>
          <a href="#" class="footer-link">Kit presse</a>
        </li>

        <li>
          <a href="#" class="footer-link">Équipe</a>
        </li>

        <li>
          <a href="#" class="footer-link">Recrutement</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">À propos</p>
        </li>

        <li>
          <a href="#" class="footer-link">Agence web</a>
        </li>

        <li>
          <a href="#" class="footer-link">Mentions légales</a>
        </li>

        <li>
          <a href="#" class="footer-link">Plan du site</a>
        </li>

        <li>
          <a href="#" class="footer-link">FAQ</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Nos projets</p>
        </li>

        <li>
          <a href="#" class="footer-link">KinShip Lab</a>
        </li>

        <li>
          <a href="#" class="footer-link">Mon CDI</a>
        </li>

        <li>
          <a href="#" class="footer-link">Pension PIE</a>
        </li>

        <li>
          <a href="#" class="footer-link">Vera App</a>
        </li>

      </ul>
    </div>
  </div>
</footer>
