<header class="header" data-header>
  <div class="container">

    <a href="https://www.agence-karus.fr" class="logo">
      <img src="./assets/images/logo-karus.png" width="209" height="52" alt="agence karus logo">
    </a>

    <nav class="navbar" data-navbar>
      <p class="navbar-title">Main Menu</p>
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#services" class="navbar-link" data-nav-link>Services</a>
        </li>

        <li class="navbar-item">
          <a href="#projects" class="navbar-link" data-nav-link>Projets</a>
        </li>

        <li class="navbar-item">
          <a href="#news" class="navbar-link" data-nav-link>Actualités</a>
        </li>

        <li class="navbar-item">
          <a href="#team" class="navbar-link" data-nav-link>Notre équipe</a>
        </li>
      </ul>
    </nav>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <a href="#" class="btn btn-primary">Prendre RDV</a>

    <div class="overlay" data-nav-toggler data-overlay></div>
  </div>
</header>
